@use './variables' as *;

/* Animation globale quand un collapse est ouvert */
body.body--collapsed {
    transform: scale(1.01);
    transition: transform 0.3s ease;
    transform-origin: top center;
}

.collapse {
    width: 100%;
    border-radius: $base-border-radius;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #f6f6f6;

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        background-color: $base-color;
        transition: background-color 0.3s ease;

        h2 {
            color: #fff;
            font-size: 16px;
            margin: 0;
        }

        .arrow {
            transition: transform 0.3s;
            font-size: 16px;
            color: #fff;

            &.open {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-content {
        height: 0;
        overflow: hidden;
        padding: 0 20px;
        transition: max-height 0.4s ease, padding 0.3s ease;

        p,
        ul {
            margin: 10px 0;
        }

        ul {
            padding-left: 20px;

            li {
                margin-bottom: 5px;
            }
        }
    }

    @media (max-width: 768px) {
        .collapse-header h2 {
            font-size: 12px;
        }

        .collapse-content {
            font-size: 12px;
            padding: 0 15px;
        }
    }
}