@use './variables' as *;

.collapse {
    width: 100%;
    border-radius: $base-border-radius;
    background-color: $base-color;
    overflow: hidden;
    color: #ffffff;
    margin-bottom: 15px;

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        background-color: $base-color;

        h2 {
            font-size: 16px;
            margin: 0;
        }

        .arrow {
            transition: transform 0.3s;
            font-size: 16px;

            &.open {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-content {
        height: 0;
        overflow: hidden;
        padding: 0 20px;
        transition: height 0.3s ease;

        p,
        ul {
            margin: 10px 0;
        }

        ul {
            padding-left: 20px;

            li {
                margin-bottom: 5px;
            }
        }
    }

    @media (max-width: 768px) {
        .collapse-header h2 {
            font-size: 12px;
        }

        .collapse-content {
            font-size: 12px;
            padding: 0 15px;
        }
    }
}