@use './variables' as *;

.logement-page {
    max-width: $base-width;
    margin: auto;
    padding: 20px;

    .logement-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logement-info {
            h1 {
                font-size: 28px;
                margin-bottom: 10px;
                color: $base-color;
            }

            p {
                font-size: 18px;
                margin-bottom: 10px;
            }

            .logement-tags {
                display: flex;
                gap: 10px;

                .tag {
                    background-color: $base-color;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                }
            }
        }

        .logement-host {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 250px;
            gap: 15px;

            /* étoiles à gauche */
            .logement-rating {
                .star {
                    color: #E3E3E3;
                    font-size: 20px;

                    &.filled {
                        color: $base-color;
                    }
                }
            }

            /* photo + nom à droite */
            .host-info {
                display: flex;
                align-items: center;
                gap: 10px;

                .host-name {
                    font-weight: bold;
                    text-align: right;
                }

                .host-photo {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .logement-collapses {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    /* VERSION MOBILE */
    @media (max-width: 768px) {
        .logement-header {
            flex-direction: column;
            align-items: start;

            .logement-info {
                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                }

                .logement-tags {
                    .tag {
                        font-size: 10px;
                    }
                }
            }

            .logement-host {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 20px;

                .host-info {
                    .host-name {
                        font-size: 14px;
                    }

                    .host-photo {
                        width: 40px;
                        height: 40px;
                    }
                }

                .logement-rating {
                    .star {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}